<!DOCTYPE html>
<html lang="" ng-app="mainApp">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Pokémon API</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body id="body" ng-controller="pokemon">
	<nav class="navbar navbar-expand-md navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#"><img class="poke-logo"
				src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="" /></a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
			</ul>
		</div> -->
	</nav>

	<div class="pokedex-bg">
		<div  class="controller">
			<!-- <h1 class="text-center">{{pokemonName}}</h1> -->
			<div class="pokedex-container col-md-12">
				<div class="pokedex-img">
					<div id="container">
						<div class="row" id="pokeId">
							<div class="pokemon-id">
								<label for="text" class="pokeID">{{pokemonId}}</label>
								<div ng-show="questionMark">
									<label for="text" class="poke-name">????</label>
								</div>
							</div>
						</div>

						<div class="row" id="pokeDisplay" ng-click="search(pokemonID)" >
							<div class="pokemon-img" data-toggle="modal" data-target="#pokeInfo" >
								<img ng-src="{{pokemonSprite}}" class="poke-img" ng-click="description(pokemonID)"/>
								<div class="wrapper" ng-show="pokeSpinner">
									<div class="pokeball"></div>
								</div>
							</div>
						</div>

						<div class="row" id="pokeName">
							<div class="pokemon-img-2">
								<label for="text" class="poke-name">{{pokemonName}}</label>
								<div ng-show="questionMark">
									<label for="text" class="poke-name">????</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Actual search box -->

			<div class="active-pink-3 active-pink-4 mb-4" style="text-align: center;">
				<label for="text"></label>
				<!-- <p ng-show="warning" id="warning"> Try without CapsLock Please !</p> -->


				<div class="row">
					<div class="poke-search col-md-12">
						<div class="input-group mb-3" id="search-bar">
							<input type="text" class="form-control" placeholder="Search for a Pokémon"
								ng-model="pokemonID" id="pokeSearch" />
							<div class="input-group-append">
								<button class="btn btn-success" type="submit" value="PLAY" ng-click="search(pokemonID)"><img
										class="pokeSearch" src="./img/pikachu.png"></button>

										<!-- <input type="button" value="PLAY" ng-click="play()"> -->
										<audio autoplay  id="audio" src="./sounds/PokemonSuMo/Pokemon/0{{pokemonId}} - {{pokemonName}}.wav"></audio>
										<audio autoplay  id="audiocem" src="./sounds/PokemonSuMo/Pokemon/{{pokemonId}} - {{pokemonName}}.wav"></audio>
							</div>
						</div>
					</div>
				</div>

				<div class="row" ng-show="warning" id="warning">
					<div class="col-md-3" style="margin: 0 auto">
						<div class="alert alert-warning" style="margin: 0 auto;">
							<strong>Ops ! </strong>Turn off Caps Lock</a>.
						</div>
					</div>
				</div>


				<div class="row" ng-show="warningError" id="warning">
					<div class="col-md-3" style="margin: 0 auto">
						<div class="alert alert-warning" style="margin: 0 auto;">
							<strong>Wow ! </strong>This pokemon doesn't exist</a>.
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" >
	Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="pokeInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" ng-if="pokemonID">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content" >
		<div class="modal-header">
		  <!-- <h5 class="modal-title" id="exampleModalLongTitle">Charmander</h5> -->
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" ng-src="{{pokemonSprite}}" style="width: 150px; height: auto; margin: 0 auto;">
				<div class="card-body">
				  <h5 class="card-title" >{{pokemonName}}</h5>
				  <p class="card-text"> {{pokeDescription}}</p>
				  <span class="badge badge-pill badge-primary" id="badge" >{{pokeTypeArr[0]}}</span>
				  <span class="badge badge-pill badge-primary" id="badge1" >{{pokeTypeArr[1]}}</span>
				</div>
			  </div>
		</div>
	  </div>
	</div>
  </div>


	<!-- Footer -->
	<footer class="page-footer font-small blue">

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 
			<a href="https://github.com/McLovim"> Glauco Lustosa</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

<script src="index-js.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

</html>